<div class="right_col" role="main">
                <div class="">
                <div class="row">
                	<div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                            	<div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" ng-submit="search();">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" id="searchTxt" required="required" class="form-control col-md-7 col-xs-12" ng-model="searchStr">
                                                <button value="Search" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                 </div>

                            </div>
                        </div>
</div>
</div>
</div>